/*
Brown text color: #5d4640
Light pink color: #ee5d8d, #f88fac
Hot pink color: #eb2f6c
light blue color: #4ccdde
Aqua color: #234149
*/

body {
  font-family: "ヒラギノ角ゴ", sans-serif !important;
}

.addBreak {
  display:none;
}

.roundText {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO"!important;
  font-weight: 900;
  color: #5d4640;
  text-shadow: -1px 1px 0 #FFF,
  1px 1px 0 #FFF,
 1px -1px 0 #FFF,
-1px -1px 0 #FFF;
}

.underlinedH2 {
  border-bottom: 2px solid #f88fac !important;
  padding-bottom: 1.25rem;
}

.registerButton {
  color: #FFF;
  background-image: linear-gradient(#ee5d8d, #eb2f6c);
  border-radius: 7px;
  border: none;
  font-size: 1.5rem;
  padding: 1.2rem 0;
}

.registerButton:hover {
  background-image: linear-gradient(#eb2f6c, #ee5d8d);
  cursor: pointer;
}

#conte3and4_background {
  background-image: url("../img/w/conte3_bg.png");
  background-repeat:  repeat;
  background-size: 100vw;
  background-position: center-top;
}




@media screen and (max-width: 800px) {
.removeBreak {
  display: none;
}

.addBreak {
  display: inline-block;
}

.registerButton {
  font-size: 1.2rem;
  padding: 1rem;
}
}



/*************************************
NavBar
*************************************/




/*************************************
Conte1
*************************************/
#conte1 {
  height: 100vh;
  background-image: url("../img/w/conte1_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#conte1_content {
  background-image: url("../img/w/lady1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  height: 444px;
}

#conte1 h1, #conte6 h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}


@media screen and (max-width: 800px) {
  #conte1_content {
    padding-top: 80%;
    /* vertical-align: bottom; */
  }
  
  #conte1 h1, #conte6 h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  }



/*************************************
Conte2
*************************************/
#conte2 {
  background-color: #222;
  color: #FFF;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO"!important;
  /* padding: 120px 0 0 0; */
}

#conte2 h2 {
  line-height: 3.25rem;
  /* line-height: 225%; */
}

#conte2 #conte2_underlinedText_2 {
  font-size: 3.25rem;
  line-height: 4rem;
  font-style: italic;
  text-decoration: underline #f88fac;
  /* border-bottom: 10px solid #ee5d8d; */
}



@media screen and (max-width: 800px) {
  #conte2 #conte2_underlinedText_2 {
    font-size: 3rem;
  }
}


/*************************************
Conte3
*************************************/
#conte3 p {
  color: #234149;
  text-align: left;
  font-size: 1.25rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
} 



@media screen and (max-width: 800px) {
  #conte3 p {
    text-align: center;
  }
}



/*************************************
Conte4
*************************************/
#conte4 p {
  padding-top: 1rem;
  line-height: 1.75rem;
}

#conte4 .conte4_step {
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}



/*************************************
Conte5
*************************************/
#conte5 p {
  font-size: 1.2rem;
}

#conte5 h2 {
  color: #FFF;
  margin: 0;
  text-shadow: none;
}

#conte5_h2_pink {
 color: #f88fac;
}

#conte5 h3 {
  font-size: 2.2rem;
  font-weight: bolder;
}

.conte5_h3_underline {
  text-decoration: underline #f88fac;
}

#conte5 h4 {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO"!important;
  color: #f88fac;
  font-style: italic;
  font-weight: 900;
}

#conte5_border {
  border: 2px solid #f88fac;
  border-radius: 10px;
}

#conte5_header {
  margin-top: -35px;
  font-style: italic;
  color: #FFF;
  background-color: #222;
  transform: skew(-15deg);  /* SKEW */
}

#conte5_header h2 {
  transform: skew(15deg);  /* reverse SKEW */
}



@media screen and (max-width: 800px) {
  #conte5 h2, #conte5 h4, #conte5 p{
    font-size: 110%;
  }

  #conte5 h3 {
    font-size: 130%;
  }

  #conte5_header {
    margin-top: -20px;
  }
}




/*************************************
Conte6
*************************************/
#conte6 {
  height: 100vh;
  background-image: url("../img/w/conte1_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/*************************************
Footer
*************************************/
#footer {
  color: #FFF;
  background-color: #252525;
}

#footer a {
  color: #FFF;
}

#footer a:hover {
  opacity: .5;
  text-decoration: none;
}